*.png
*.csv
*.jld
*.h5
*.hdf5
*.pdf
*.swp
*.log
*.jls
*.dvi
*.aux
*.fdb_latexmk
*.fls
*.out
debug*.jl
dev*.jl
*.bbl
*.blg
*.exrc
*.nav
*.snm
*.toc
*.tar.gz
*eps-converted-to.pdf
Manifest.toml
*.DS_Store
!quicksixel_est_demo.png
devel
